section#pres-content > .container {
       padding-top: 2.5rem; /* 40px | 2.5 x 16 */
    padding-bottom: 2.5rem; /* 40px | 2.5 x 16 */

    text-align: center;
}



section#menu > .container {
       padding-top: 2.5rem; /* 40px | 2.5 x 16 */
    padding-bottom: 2.5rem; /* 40px | 2.5 x 16 */

    text-align: center;
}



section#people-content > .container {
       padding-top: 2.5rem; /* 40px | 2.5 x 16 */
    padding-bottom: 2.5rem; /* 40px | 2.5 x 16 */

    text-align: center;
}



h3.menu-header {
    font-size: 2rem;
    text-align: left;
    line-height: 1.25em;
    margin-bottom: 1.25em;
    font-weight: 300;
    margin-left: 2rem;
    margin-right: 2rem;
}






/*
    ***
    ***     MEDIA QUERY
    ***     PHONE SIZES
    ***     min_                   |   max_   >544px  / 33.9999em
    ***
*/
@media (min-width: 0) and (max-width: 33.9999em) {

}






/*
    ***
    ***     MEDIA QUERY
    ***     S TABLET SIZES
    ***     min_     544px / 34em   |   max_   >784px  / 48.9999em
    ***
*/
@media (min-width: 33.999em) and (max-width: 48.9999em) {

}






/*
    ***
    ***     MEDIA QUERY
    ***     L TABLET SIZES
    ***     min_     784px / 49em   |   max_  >1024px  / 63.9999em
    ***
*/
@media (min-width: 49em) and (max-width: 63.9999em) {

}






/*
    ***
    ***     MEDIA QUERY
    ***     DESKTOP SIZES
    ***     min_    1024px / 64em   |   max_  >1264px  / 78.9999em
    ***
*/
@media (min-width: 64em) and (max-width: 78.9999em) {

}






/*
    ***
    ***     MEDIA QUERY
    ***     L DESKTOP SIZES
    ***     min_    1264px / 79em   |   max_  >1984px / 123.9999em
    ***
*/
@media (min-width: 79em) and (max-width: 123.9999em) {

}






/*
    ***
    ***     MEDIA QUERY
    ***     XL DESKTOP SIZES
    ***     min_    1984px / 124em 
    ***
*/
@media (min-width: 124em) and (max-width: 9999999em) {

}