/*
    *
    * MAIN SITE INDIGO COLOURS *
    *
*/

/*
    * Color l5  #e7cefe
    * Color l4  #d7b7fe
    * Color l3  #c49dfd
    * Color l2  #ae82fb
    * Color l1  #9464fa
    *
    * Color 0   #7845f8
    *
    * Color d1  #5d33d6
    * Color d2  #4423b3
    * Color d3  #2f1792
    * Color d4  #1e0d70
    * Color d5  #11064f
*/

body#indigo .gradient {
    /* gradient values Color l1 - Color d1 */
    background: -webkit-linear-gradient(left, #9464fa, #7845f8, #5d33d6); /* For Safari */
    background: -o-linear-gradient(right, #9464fa, #7845f8, #5d33d6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #9464fa, #7845f8, #5d33d6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #9464fa 0%, #7845f8 50%, #5d33d6 100%); /* Standard syntax */
}




body#indigo stop.screen-gradient-0 {
    stop-color: #ae82fb; /* Color l2 */
}
body#indigo stop.screen-gradient-1 {
    stop-color: #7845f8; /* Color 0 */
}
body#indigo stop.screen-gradient-2 {
    stop-color: #5d33d6; /* Color d1 */
}


body#indigo stop.light-gradient-0 {
    stop-color: #e7cefe; /* Color l5 */
}
body#indigo stop.light-gradient-1 {
    stop-color: #c49dfd; /* Color l3 */
}
body#indigo stop.light-gradient-2 {
    stop-color: #9464fa; /* Color l1 */
}


body#indigo stop.dark-gradient-0 {
    stop-color: #5d33d6; /* Color d1 */
}
body#indigo stop.dark-gradient-1 {
    stop-color: #2f1792; /* Color d3 */
}
body#indigo stop.dark-gradient-2 {
    stop-color: #1e0d70; /* Color d4 */
}





body#indigo nav.menu li a:hover,
body#indigo nav.people-menu li a:hover {
    background-color: #7845f8; /* Color 0 */
    color: #fff;
}

body#indigo nav.menu li.current div {
    background-color: #7845f8; /* Color 0 */
}

body#indigo nav.menu li.updated,
body#indigo nav.people-menu li.updated  {
    background-color: #d7b7fe; /* Color l4 */
}

body#indigo nav.menu li.current div {
    background-color: #7845f8; /* Color 0 */
    color: #fff;
}

    body#indigo .profile-details a {
        background-color: transparent;
        color: #7845f8; /* Color 0 */
    }

        body#indigo .profile-details a:hover {            
            background-color: #7845f8; /* Color 0 */
            color: #fff;
        }

body#indigo footer .acknowledgement a:hover {
    color: #7845f8; /* Color 0 */
}





/* INDIVIDUAL SHADES */

body#indigo .bg-color-0 { background-color: #7845f8; }
body#indigo .brdr-color-0 { border-color: #7845f8; }
body#indigo .color-0 { color: #7845f8; }


body#indigo .bg-color-l1 { background-color: #9464fa; }
body#indigo .brdr-color-l1 { border-color: #9464fa; }
body#indigo .color-l1 { color: #9464fa; }

body#indigo .bg-color-l2 { background-color: #ae82fb; }
body#indigo .brdr-color-l2 { border-color: #ae82fb; }
body#indigo .color-l2 { color: #ae82fb; }

body#indigo .bg-color-l3 { background-color: #c49dfd; }
body#indigo .brdr-color-l3 { border-color: #c49dfd; }
body#indigo .color-l3 { color: #c49dfd; }

body#indigo .bg-color-l4 { background-color: #d7b7fe; }
body#indigo .brdr-color-l4 { border-color: #d7b7fe; }
body#indigo .color-l4 { color: #d7b7fe; }

body#indigo .bg-color-l5 { background-color: #e7cefe; }
body#indigo .brdr-color-l5 { border-color: #e7cefe; }
body#indigo .color-l5 { color: #e7cefe; }


body#indigo .bg-color-d1 { background-color: #5d33d6; }
body#indigo .brdr-color-d1 { border-color: #5d33d6; }
body#indigo .color-d1 { color: #5d33d6; }

body#indigo .bg-color-d2 { background-color: #4423b3; }
body#indigo .brdr-color-d2 { border-color: #4423b3; }
body#indigo .color-d2 { color: #4423b3; }

body#indigo .bg-color-d3 { background-color: #2f1792; }
body#indigo .brdr-color-d3 { border-color: #2f1792; }
body#indigo .color-d3 { color: #2f1792; }

body#indigo .bg-color-d4 { background-color: #1e0d70; }
body#indigo .brdr-color-d4 { border-color: #1e0d70; }
body#indigo .color-d4 { color: #1e0d70; }

body#indigo .bg-color-d5 { background-color: #11064f; }
body#indigo .brdr-color-d5 { border-color: #11064f; }
body#indigo .color-d5 { color: #11064f; }