/*
    *
    * MAIN SITE PINK COLOURS *
    *
*/

/*
    * Color l5  #fdd3e9
    * Color l4  #fabdda
    * Color l3  #f6a6c8
    * Color l2  #f18bb2
    * Color l1  #eb6e99
    *
    * Color 0   #e4507d
    *
    * Color d1  #c33b61
    * Color d2  #a32948
    * Color d3  #821a33
    * Color d4  #640f21
    * Color d5  #460714
*/

body#pink .gradient {
    /* gradient values Color l1 - Color d1 */
    background: -webkit-linear-gradient(left, #eb6e99, #e4507d, #c33b61); /* For Safari */
    background: -o-linear-gradient(right, #eb6e99, #e4507d, #c33b61); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #eb6e99, #e4507d, #c33b61); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #eb6e99 0%, #e4507d 50%, #c33b61 100%); /* Standard syntax */
}




body#pink stop.screen-gradient-0 {
    stop-color: #f18bb2; /* Color l2 */
}
body#pink stop.screen-gradient-1 {
    stop-color: #e4507d; /* Color 0 */
}
body#pink stop.screen-gradient-2 {
    stop-color: #c33b61; /* Color d1 */
}


body#pink stop.light-gradient-0 {
    stop-color: #fdd3e9; /* Color l5 */
}
body#pink stop.light-gradient-1 {
    stop-color: #f6a6c8; /* Color l3 */
}
body#pink stop.light-gradient-2 {
    stop-color: #eb6e99; /* Color l1 */
}


body#pink stop.dark-gradient-0 {
    stop-color: #c33b61; /* Color d1 */
}
body#pink stop.dark-gradient-1 {
    stop-color: #821a33; /* Color d3 */
}
body#pink stop.dark-gradient-2 {
    stop-color: #640f21; /* Color d4 */
}





body#pink nav.menu li a:hover,
body#pink nav.people-menu li a:hover {
    background-color: #e4507d; /* Color 0 */
    color: #fff;
}

body#pink nav.menu li.current div {
    background-color: #e4507d; /* Color 0 */
}

body#pink nav.menu li.updated,
body#pink nav.people-menu li.updated  {
    background-color: #fabdda; /* Color l4 */
}

body#pink nav.menu li.current div {    
    background-color: #e4507d; /* Color 0 */
    color: #fff;
}

    body#pink .profile-details a {
        background-color: transparent;
        color: #e4507d; /* Color 0 */
    }

        body#pink .profile-details a:hover {            
            background-color: #e4507d; /* Color 0 */
            color: #fff;
        }

body#pink footer .acknowledgement a:hover {
    color: #e4507d; /* Color 0 */
}





/* INDIVIDUAL SHADES */

body#pink .bg-color-0 { background-color: #e4507d; }
body#pink .brdr-color-0 { border-color: #e4507d; }
body#pink .color-0 { color: #e4507d; }


body#pink .bg-color-l1 { background-color: #eb6e99; }
body#pink .brdr-color-l1 { border-color: #eb6e99; }
body#pink .color-l1 { color: #eb6e99; }

body#pink .bg-color-l2 { background-color: #f18bb2; }
body#pink .brdr-color-l2 { border-color: #f18bb2; }
body#pink .color-l2 { color: #f18bb2; }

body#pink .bg-color-l3 { background-color: #f6a6c8; }
body#pink .brdr-color-l3 { border-color: #f6a6c8; }
body#pink .color-l3 { color: #f6a6c8; }

body#pink .bg-color-l4 { background-color: #fabdda; }
body#pink .brdr-color-l4 { border-color: #fabdda; }
body#pink .color-l4 { color: #fabdda; }

body#pink .bg-color-l5 { background-color: #fdd3e9; }
body#pink .brdr-color-l5 { border-color: #fdd3e9; }
body#pink .color-l5 { color: #fdd3e9; }


body#pink .bg-color-d1 { background-color: #c33b61; }
body#pink .brdr-color-d1 { border-color: #c33b61; }
body#pink .color-d1 { color: #c33b61; }

body#pink .bg-color-d2 { background-color: #a32948; }
body#pink .brdr-color-d2 { border-color: #a32948; }
body#pink .color-d2 { color: #a32948; }

body#pink .bg-color-d3 { background-color: #821a33; }
body#pink .brdr-color-d3 { border-color: #821a33; }
body#pink .color-d3 { color: #821a33; }

body#pink .bg-color-d4 { background-color: #640f21; }
body#pink .brdr-color-d4 { border-color: #640f21; }
body#pink .color-d4 { color: #640f21; }

body#pink .bg-color-d5 { background-color: #460714; }
body#pink .brdr-color-d5 { border-color: #460714; }
body#pink .color-d5 { color: #460714; }