/*
    *
    * MAIN SITE GOLD COLOURS *
    *
*/

/*
    * Color l5  #fdf8ac
    * Color l4  #faf08a
    * Color l3  #f7e568
    * Color l2  #f3d545
    * Color l1  #eec322
    *
    * Color 0   #e7ae00
    *
    * Color d1  #c69000
    * Color d2  #a57300
    * Color d3  #855900
    * Color d4  #654100
    * Color d5  #472c00
*/

body#gold .gradient {
    /* gradient values Color l1 - Color d1 */
    background: -webkit-linear-gradient(left, #eec322, #e7ae00, #c69000); /* For Safari */
    background: -o-linear-gradient(right, #eec322, #e7ae00, #c69000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #eec322, #e7ae00, #c69000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #eec322 0%, #e7ae00 50%, #c69000 100%); /* Standard syntax */
}




body#gold stop.screen-gradient-0 {
    stop-color: #f3d545; /* Color l2 */
}
body#gold stop.screen-gradient-1 {
    stop-color: #e7ae00; /* Color 0 */
}
body#gold stop.screen-gradient-2 {
    stop-color: #c69000; /* Color d1 */
}


body#gold stop.light-gradient-0 {
    stop-color: #fdf8ac; /* Color l5 */
}
body#gold stop.light-gradient-1 {
    stop-color: #f7e568; /* Color l3 */
}
body#gold stop.light-gradient-2 {
    stop-color: #eec322; /* Color l1 */
}


body#gold stop.dark-gradient-0 {
    stop-color: #c69000; /* Color d1 */
}
body#gold stop.dark-gradient-1 {
    stop-color: #855900; /* Color d3 */
}
body#gold stop.dark-gradient-2 {
    stop-color: #654100; /* Color d4 */
}





body#gold nav.menu li a:hover,
body#gold nav.people-menu li a:hover {
    background-color: #e7ae00; /* Color 0 */
    color: #fff;
}

body#gold nav.menu li.current div {
    background-color: #e7ae00; /* Color 0 */
}

body#gold nav.menu li.updated,
body#gold nav.people-menu li.updated  {
    background-color: #faf08a; /* Color l4 */
}

body#gold nav.menu li.current div {
    background-color: #e7ae00; /* Color 0 */
    color: #fff;
}

    body#gold .profile-details a {
        background-color: transparent;
        color: #e7ae00; /* Color 0 */
    }

        body#gold .profile-details a:hover {            
            background-color: #e7ae00; /* Color 0 */
            color: #fff;
        }

body#gold footer .acknowledgement a:hover {
    color: #e7ae00; /* Color 0 */
}





/* INDIVIDUAL SHADES */

body#gold .bg-color-0 { background-color: #e7ae00; }
body#gold .brdr-color-0 { border-color: #e7ae00; }
body#gold .color-0 { color: #e7ae00; }


body#gold .bg-color-l1 { background-color: #eec322; }
body#gold .brdr-color-l1 { border-color: #eec322; }
body#gold .color-l1 { color: #eec322; }

body#gold .bg-color-l2 { background-color: #f3d545; }
body#gold .brdr-color-l2 { border-color: #f3d545; }
body#gold .color-l2 { color: #f3d545; }

body#gold .bg-color-l3 { background-color: #f7e568; }
body#gold .brdr-color-l3 { border-color: #f7e568; }
body#gold .color-l3 { color: #f7e568; }

body#gold .bg-color-l4 { background-color: #faf08a; }
body#gold .brdr-color-l4 { border-color: #faf08a; }
body#gold .color-l4 { color: #faf08a; }

body#gold .bg-color-l5 { background-color: #fdf8ac; }
body#gold .brdr-color-l5 { border-color: #fdf8ac; }
body#gold .color-l5 { color: #fdf8ac; }


body#gold .bg-color-d1 { background-color: #c69000; }
body#gold .brdr-color-d1 { border-color: #c69000; }
body#gold .color-d1 { color: #c69000; }

body#gold .bg-color-d2 { background-color: #a57300; }
body#gold .brdr-color-d2 { border-color: #a57300; }
body#gold .color-d2 { color: #a57300; }

body#gold .bg-color-d3 { background-color: #855900; }
body#gold .brdr-color-d3 { border-color: #855900; }
body#gold .color-d3 { color: #855900; }

body#gold .bg-color-d4 { background-color: #654100; }
body#gold .brdr-color-d4 { border-color: #654100; }
body#gold .color-d4 { color: #654100; }

body#gold .bg-color-d5 { background-color: #472c00; }
body#gold .brdr-color-d5 { border-color: #472c00; }
body#gold .color-d5 { color: #472c00; }