/*
    *
    * MAIN SITE GREEN COLOURS *
    *
*/

/*
    * Color l5  #c1f8c3
    * Color l4  #a6f1a9
    * Color l3  #8ae68d
    * Color l2  #6cd86f
    * Color l1  #4cc650
    *
    * Color 0   #2cb130
    *
    * Color d1  #209224
    * Color d2  #177519
    * Color d3  #0e5b0f
    * Color d4  #084309
    * Color d5  #042d04
*/

body#green .gradient {
    /* gradient values Color l1 - Color d1 */
    background: -webkit-linear-gradient(left, #4cc650, #2cb130, #209224); /* For Safari */
    background: -o-linear-gradient(right, #4cc650, #2cb130, #209224); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #4cc650, #2cb130, #209224); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #4cc650 0%, #2cb130 50%, #209224 100%); /* Standard syntax */
}




body#green stop.screen-gradient-0 {
    stop-color: #6cd86f; /* Color l2 */
}
body#green stop.screen-gradient-1 {
    stop-color: #2cb130; /* Color 0 */
}
body#green stop.screen-gradient-2 {
    stop-color: #209224; /* Color d1 */
}


body#green stop.light-gradient-0 {
    stop-color: #c1f8c3; /* Color l5 */
}
body#green stop.light-gradient-1 {
    stop-color: #8ae68d; /* Color l3 */
}
body#green stop.light-gradient-2 {
    stop-color: #4cc650; /* Color l1 */
}


body#green stop.dark-gradient-0 {
    stop-color: #209224; /* Color d1 */
}
body#green stop.dark-gradient-1 {
    stop-color: #0e5b0f; /* Color d3 */
}
body#green stop.dark-gradient-2 {
    stop-color: #084309; /* Color d4 */
}





body#green nav.menu li a:hover,
body#green nav.people-menu li a:hover {
    background-color: #2cb130; /* Color 0 */
    color: #fff;
}

body#green nav.menu li.current div{
    background-color: #2cb130; /* Color 0 */
}

body#green nav.menu li.updated,
body#green nav.people-menu li.updated  {
    background-color: #a6f1a9; /* Color l4 */
}

body#green nav.menu li.current div {    
    background-color: #2cb130; /* Color 0 */
    color: #fff;
}

    body#green .profile-details a {
        background-color: transparent;
        color: #2cb130; /* Color 0 */
    }

        body#green .profile-details a:hover {            
            background-color: #2cb130; /* Color 0 */
            color: #fff;
        }

body#green footer .acknowledgement a:hover {
    color: #2cb130; /* Color 0 */
}





/* INDIVIDUAL SHADES */

body#green .bg-color-0 { background-color: #2cb130; }
body#green .brdr-color-0 { border-color: #2cb130; }
body#green .color-0 { color: #2cb130; }


body#green .bg-color-l1 { background-color: #4cc650; }
body#green .brdr-color-l1 { border-color: #4cc650; }
body#green .color-l1 { color: #4cc650; }

body#green .bg-color-l2 { background-color: #6cd86f; }
body#green .brdr-color-l2 { border-color: #6cd86f; }
body#green .color-l2 { color: #6cd86f; }

body#green .bg-color-l3 { background-color: #8ae68d; }
body#green .brdr-color-l3 { border-color: #8ae68d; }
body#green .color-l3 { color: #8ae68d; }

body#green .bg-color-l4 { background-color: #a6f1a9; }
body#green .brdr-color-l4 { border-color: #a6f1a9; }
body#green .color-l4 { color: #a6f1a9; }

body#green .bg-color-l5 { background-color: #c1f8c3; }
body#green .brdr-color-l5 { border-color: #c1f8c3; }
body#green .color-l5 { color: #c1f8c3; }


body#green .bg-color-d1 { background-color: #209224; }
body#green .brdr-color-d1 { border-color: #209224; }
body#green .color-d1 { color: #209224; }

body#green .bg-color-d2 { background-color: #177519; }
body#green .brdr-color-d2 { border-color: #177519; }
body#green .color-d2 { color: #177519; }

body#green .bg-color-d3 { background-color: #0e5b0f; }
body#green .brdr-color-d3 { border-color: #0e5b0f; }
body#green .color-d3 { color: #0e5b0f; }

body#green .bg-color-d4 { background-color: #084309; }
body#green .brdr-color-d4 { border-color: #084309; }
body#green .color-d4 { color: #084309; }

body#green .bg-color-d5 { background-color: #042d04; }
body#green .brdr-color-d5 { border-color: #042d04; }
body#green .color-d5 { color: #042d04; }