/*
    *
    * MAIN SITE PURPLE COLOURS *
    *
*/

/*
    * Color l5  #f9c8fb
    * Color l4  #f1aff5
    * Color l3  #e794ee
    * Color l2  #d977e4
    * Color l1  #c859d8
    *
    * Color 0   #b439ca
    *
    * Color d1  #962aab
    * Color d2  #781d8b
    * Color d3  #5d126e
    * Color d4  #450b53
    * Color d5  #2f0539
*/

body#purple .gradient {
    /* gradient values Color l1 - Color d1 */
    background: -webkit-linear-gradient(left, #c859d8, #b439ca, #962aab); /* For Safari */
    background: -o-linear-gradient(right, #c859d8, #b439ca, #962aab); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #c859d8, #b439ca, #962aab); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c859d8 0%, #b439ca 50%, #962aab 100%); /* Standard syntax */
}




body#purple stop.screen-gradient-0 {
    stop-color: #d977e4; /* Color l2 */
}
body#purple stop.screen-gradient-1 {
    stop-color: #b439ca; /* Color 0 */
}
body#purple stop.screen-gradient-2 {
    stop-color: #962aab; /* Color d1 */
}


body#purple stop.light-gradient-0 {
    stop-color: #f9c8fb; /* Color l5 */
}
body#purple stop.light-gradient-1 {
    stop-color: #e794ee; /* Color l3 */
}
body#purple stop.light-gradient-2 {
    stop-color: #c859d8; /* Color l1 */
}


body#purple stop.dark-gradient-0 {
    stop-color: #962aab; /* Color d1 */
}
body#purple stop.dark-gradient-1 {
    stop-color: #5d126e; /* Color d3 */
}
body#purple stop.dark-gradient-2 {
    stop-color: #450b53; /* Color d4 */
}





body#purple nav.menu li a:hover,
body#purple nav.people-menu li a:hover {
    background-color: #b439ca; /* Color 0 */
    color: #fff;
}

body#purple nav.menu li.current div {
    background-color: #b439ca; /* Color 0 */
}

body#purple nav.menu li.updated,
body#purple nav.people-menu li.updated  {
    background-color: #f1aff5; /* Color l4 */
}

body#purple nav.menu li.current div {    
    background-color: #b439ca; /* Color 0 */
    color: #fff;
}

    body#purple .profile-details a {
        background-color: transparent;
        color: #b439ca; /* Color 0 */
    }

        body#purple .profile-details a:hover {            
            background-color: #b439ca; /* Color 0 */
            color: #fff;
        }

body#purple footer .acknowledgement a:hover {
    color: #b439ca; /* Color 0 */
}





/* INDIVIDUAL SHADES */

body#purple .bg-color-0 { background-color: #b439ca; }
body#purple .brdr-color-0 { border-color: #b439ca; }
body#purple .color-0 { color: #b439ca; }


body#purple .bg-color-l1 { background-color: #c859d8; }
body#purple .brdr-color-l1 { border-color: #c859d8; }
body#purple .color-l1 { color: #c859d8; }

body#purple .bg-color-l2 { background-color: #d977e4; }
body#purple .brdr-color-l2 { border-color: #d977e4; }
body#purple .color-l2 { color: #d977e4; }

body#purple .bg-color-l3 { background-color: #e794ee; }
body#purple .brdr-color-l3 { border-color: #e794ee; }
body#purple .color-l3 { color: #e794ee; }

body#purple .bg-color-l4 { background-color: #f1aff5; }
body#purple .brdr-color-l4 { border-color: #f1aff5; }
body#purple .color-l4 { color: #f1aff5; }

body#purple .bg-color-l5 { background-color: #f9c8fb; }
body#purple .brdr-color-l5 { border-color: #f9c8fb; }
body#purple .color-l5 { color: #f9c8fb; }


body#purple .bg-color-d1 { background-color: #962aab; }
body#purple .brdr-color-d1 { border-color: #962aab; }
body#purple .color-d1 { color: #962aab; }

body#purple .bg-color-d2 { background-color: #781d8b; }
body#purple .brdr-color-d2 { border-color: #781d8b; }
body#purple .color-d2 { color: #781d8b; }

body#purple .bg-color-d3 { background-color: #5d126e; }
body#purple .brdr-color-d3 { border-color: #5d126e; }
body#purple .color-d3 { color: #5d126e; }

body#purple .bg-color-d4 { background-color: #450b53; }
body#purple .brdr-color-d4 { border-color: #450b53; }
body#purple .color-d4 { color: #450b53; }

body#purple .bg-color-d5 { background-color: #2f0539; }
body#purple .brdr-color-d5 { border-color: #2f0539; }
body#purple .color-d5 { color: #2f0539; }